/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.field-wrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.label {
  flex-basis: 150px;
  padding-right: 25px;
}

.required {
  color: red;
}
